h1{
  color: brown;
  font-size: 42px;
}

body{
font-size: 18px;
font-family: 'Lora', serif;
background-color: ivory;
}

article{
  padding: 10px 60px;
}

img{
max-width:100%;
}

figure{
  margin: 15px;
}

.byline, .dateline{
font-size: 16px;
font-weight: bold;
color: gray;
font-family: helvetica;
}

figcaption{
font-size: 15px;
color: gray;
margin-top: 0px;
font-family: helvetica;
}
